.product-card{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 0 39px;
    background: #0C1218;
}

.blog-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0C1218;
    padding-bottom: 100px;
}

.product-inner{
    background: #0C1218;
    padding: 20px 10px;
}

.product-img{
    width: 302px;
}

.product-title{
    padding-top: 19px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.product-text{
    padding: 9px 0 27px 0;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #BCBBBB;
    height: 120px;
}

.product-link{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #00C2FF;
}

.repair-btn{
    margin-top: 70px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #39546C;
    padding: 15px 40px;
    border: none;
}